<p id="notice"><%= notice %></p>

<p>
  <strong>Frequencia:</strong>
  <%= @subsubcategorium.frequencia %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @subsubcategorium.ativo %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @subsubcategorium.subcategoria %>
</p>

<%= link_to 'Edit', edit_subsubcategorium_path(@subsubcategorium) %> |
<%= link_to 'Back', subsubcategoria_path %>
